version: '3'

services:
  test-server:
    build: ./provisioning
    image: laravel-gac
    depends_on:
      - mysql
      - redis
    volumes:
      - ./:/application:cached

  horizon:
    build: ./provisioning
    image: laravel-import-csv
    command: php artisan horizon
    depends_on:
      - mysql
    volumes:
      - ./:/application:cached

  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=laravel-gac
    volumes:
      - ./storage/tmp/db:/var/lib/mysql:cached

  nginx:
    image: nginx
    ports:
      - "8000:8000"
    volumes:
      - ./provisioning/nginx.conf:/etc/nginx/conf.d/default.conf:cached
      - ./:/application:cached
    depends_on:
      - test-server

  redis:
    image: redis
    ports:
      - "6379:6379"
